input{
    width: 422px;
    height: 52px;
    background-color: var(--color-whitw);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
}

input::placeholder{
    font-weight: var(--regular);
    font-size: var(--font-18);
    color: rgba(0, 0, 0, 0.5);
   
}