.user-logado{
    width: 1180px;
    height: 121px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.div-user > h2{
    font-weight: var(--bold);
    font-size: var(--font-30);
    color: var(--color-black);
}

.div-info > p {
    font-weight: var(--regular);
    font-size: var(--font-22);
    color: var(--color-black);
}